@model BandDrop.ViewModels.AudioFileVM
<!DOCTYPE html>
<html>
<head>
    <title>pChat &mdash; Private Chatroom</title>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <script src="https://connect.soundcloud.com/sdk/sdk-3.3.0.js"></script>
    <script src="@Url.Content("~/Scripts/audio/audiojs/audio.min.js")"></script>

    <script>
        $(document).ready(function () {
            let currentContact = null; // Holds current contact
            let currentconversationChannel = null;
            let conversationChannelName = null;
            let newMessageTpl =
                `<li class="list-group-item">
                  <div id="msg-{{id}}" class="row __chat__par__ ">
                    <div class="__chat__">
                    <h6 class="pb-0 mr-4 ml-4 pt-0 mt-0">{{name}}</h6>
                     <p>{{body}}</p>
                    </div>
                 </div>
                </li>`;

            const pusher = new Pusher('de9851a0744ee8227c97', {
                authEndpoint: '@Url.Action("AuthForChannel", "Auth")',
                cluster: 'us2'
            });

            pusher.connection.bind('connected', function () {
                socketId = pusher.connection.socket_id;
            });

            if (conversationChannelName) {
                pusher.unsubscribe(conversationChannelName);
            }
            var bandId = '@ViewBag.Band.Id'
            currentconversationChannel = pusher.subscribe('private-chat-' + bandId + '537');
            bind_group_events();

            $(".user__item").click(function (e) {
                e.preventDefault();
                function scrollToBottom(id) {
                    $('#' + id).scrollTop($('#' + id)[0].scrollHeight);
                }
                scrollToBottom("chat_window");
                currentContact = {
                    id: $(this).data('contact-id'),
                    name: $(this).data('contact-name'),
                };

                if (conversationChannelName) {
                    pusher.unsubscribe(conversationChannelName);
                }

                conversationChannelName = getConvoChannel(
                    (@ViewBag.currentUser.id * 1),
                    (currentContact.id * 1)
                );

                currentconversationChannel = pusher.subscribe(conversationChannelName);

                bind_client_events();

                $('#contacts').find('li').removeClass('active');

                $('#contacts .contact-' + currentContact.id).find('li').addClass('active');
                getChat(currentContact.id);
            });
            function getConvoChannel(user_id, contact_id) {
                if (user_id > contact_id) {
                    return 'private-chat-' + contact_id + '-' + user_id;
                }

                return 'private-chat-' + user_id + '-' + contact_id;
            }

            $('#sendMessage').on('click', function () {
                var object = new Object();
                if (currentContact == null) {

                    $.post('@Url.Action("SendGroupMessage","Chat")', {
                        message: $('#msg_box').val(),
                        socket_id: socketId,
                        data: object
                    }).done(function (data) {
                        //display the message immediately on the view of the sender
                        displayMessage(data);
                        $('#msg_box').val('');
                        bind_group_events;
                    });
                }
                else {
                    $.post('@Url.Action("SendMessage", "Chat")', {
                        message: $('#msg_box').val(),
                        contact: currentContact.id,
                        socket_id: socketId,
                    }).done(function (data) {
                        //display the message immediately on the view of the sender
                        displayMessage(data);
                        $('#msg_box').val('');

                    });
                }
            });
            $('#groupChat').click(function () {
                $('.chat__main').empty();
                bind_group_events();
                function scrollToBottom(id) {
                    $('#' + id).scrollTop($('#' + id)[0].scrollHeight);
                }
                scrollToBottom("chat_window");
            });
            // get chat data
            function getChat(contact_id) {
                $('.chat__main').empty();
                var link = '@Url.Action("Conversations", "Chat")/';
                var object = new Object();
                object.id = contact_id
                $.ajax({
                    type: "GET",
                    url: link,
                    data: object,
                    dataType: "json"
                })

                    .done(function (resp) {
                        var chat_data = resp.data || [];
                        loadChat(chat_data);
                    });
                function scrollToBottom(id) {
                    $('#' + id).scrollTop($('#' + id)[0].scrollHeight);
                }
                scrollToBottom("chat_window");
            }

            //load chat data into view
            function loadChat(chat_data) {

                chat_data.forEach(function (data) {

                    displayMessage(data);
                });

                $('.chat__body').show();
                $('.__no__chat__').hide();
            }

            function displayMessage(message_obj) {
                const msg_id = message_obj.id;
                const msg_body = message_obj.message;
                const msg_name = message_obj.sender_name;
                const msg_time = message_obj.created_at;

                let template = $(newMessageTpl).html();

                template = template.replace("{{id}}", msg_id);
                template = template.replace("{{body}}", msg_body);
                template = template.replace("{{name}}", msg_name);

                // need to properly format before use
                //template = template.replace("{{time}}", msg_time);

                template = $(template);

                if (message_obj.sender_id == @ViewBag.currentUser.id ) {
                    template.find('.__chat__').addClass('from__chat');
                } else {
                    template.find('.__chat__').addClass('receive__chat');
                }

                if (message_obj.status == 1) {
                    template.find('.delivery-status').show();
                }

                $('.chat__main').append(template);
            }
            function bind_client_events() {
                currentconversationChannel.bind("client-is-typing", function (data) {
                    if (data.user_id == currentContact.id &&
                        data.contact_id == @ViewBag.currentUser.id  ) {

                        $('#typerDisplay').text(currentContact.name + ' is typing...');

                        $('.chat__typing').fadeIn(100, function () {
                            $('.chat__type__body').addClass('typing_display__open');
                        }).delay(1000).fadeOut(300, function () {
                            $('.chat__type__body').removeClass('typing_display__open');
                        });
                    }
                });
                currentconversationChannel.bind("new_message", function (msg) {
                    if (msg.receiver_id == @ViewBag.currentUser.id ) {
                        displayMessage(msg);
                    }
                });
                currentconversationChannel.bind("message_delivered", function (msg) {
                    $('#msg-' + msg.id).find('.delivery-status').show();
                });
            }
            function bind_group_events() {
                getGroupChat(0);
                currentconversationChannel.bind("new_message", function (msg) {
                    if (msg.receiver_id == @ViewBag.ChatChannel ) {
                        displayMessage(msg);
                    }
                });
            }
            function getGroupChat() {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GroupConversations","Chat")',
                    dataType: "json"
                })

                    .done(function (resp) {
                        var chat_data = resp.data || [];
                        loadChat(chat_data);
                    });
            }
            //User is typing
            var isTypingCallback = function () {
                currentconversationChannel.trigger("client-is-typing", {
                    user_id: @ViewBag.currentUser.id,
                    contact_id: currentContact.id,
                });
            };

            $('#msg_box').on('keyup', isTypingCallback);

        });

    </script>
</head>
<body>
    <div class="container p-0 pt-4">
        <div class="row pl-5">
            <div class="col-md-2 chatContent">
                <aside class="main visible-md visible-lg h-100 shadow">
                    <div class="panel rounded bg-light">
                        <div class="panel panel-default users__bar" style="height: 60vh; overflow: auto;">
                            <div class="panel-heading users__heading bg-dark mb-2 shadow">
                                @ViewBag.currentUser.BandName
                            </div>
                            <div class="bandImage">
                                @if (ViewBag.Band.BandImagePath != null)
                                {
                                    <img src=@Url.Content(ViewBag.Band.BandImagePath) alt="bandImage" class="card-img-top shadow rounded" />
                                }
                                <div class="p-3">
                                    <button class="btn btn-crimson mw-100 shadow" id="openModal">Select Band Image</button>
                                    <div id="modalSelect" class="modal">
                                        <div class="modal-content">
                                            <span class="close">&times;</span>
                                            @using (Html.BeginForm("SetBandImage", "Bands", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                            {
                                                <div class="form-group">
                                                    <div class="custom-file panel-text">
                                                        @Html.LabelFor(a => a.File, "Select image", htmlAttributes: new { @class = "control-label w-100 pl-3" })
                                                    </div>
                                                    <div class="col-md-2">
                                                        @Html.TextBoxFor(a => a.File, "Image", new { type = "file", @class = "btn-outline-primary" })
                                                    </div>
                                                    <div class="input-group-append pl-3">
                                                        <input type="submit" id="btnUpload" class="btn btn-dark" value="Upload" />
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-crimson rounded shadow ml-3" id="groupChat">Group Chat</button>
                            <div class="__no__chat__">
                                <p class="text-primary pl-2 ml-1 pt-1">Select bandmate</p>
                            </div>
                            <a class="panel-body users__body tableText">
                                <ul id="contacts" class="list-group pl-4 mh-80 mt-2">
                                    @foreach (var user in @ViewBag.allUsers)
                                    {
                                        <a class="user__item contact-@user.id" href="#" data-contact-id="@user.id" data-contact-name="@user.name">
                                            <li>
                                                <span class="text-center text-dark pt-2">@user.name</span>
                                                <div class="status-bar"></div>
                                            </li>
                                        </a>
                                    }
                                </ul>
                            </a>
                        </div>
                    </div>
                </aside>
            </div>
            <div id="chat_window" class="col-md-4 chatContent chat__body shadow bg-light position-relative" style="overflow-y: scroll; overflow-x: hidden; height: 70vh;">
                <div class="small-shadow rounded">
                    <ul class="chat__main list-group-flush"></ul>
                </div>
                <div class="chat__type__body shadow rounded">
                    <div class="chat__type ">
                        <div class="chat__typing fixed-bottom">
                            <span id="typerDisplay"></span>
                        </div>
                        <textarea id="msg_box" placeholder="Type your message"></textarea>
                        <button class="btn btn-primary" id="sendMessage">Send</button>

                    </div>
                </div>

                
            </div>
            <div class="col-md-5 chatContent shadow bg-light flex-wrap" style="overflow-y: scroll; height: 60vh;">
                <div class="audioTable">
                    <table id="dataTable" class="table">
                    <thead class="thead-dark position-static tableHead border shadow mb-4 font-weight-light">
                        <tr>
                            @*<th style="font-weight: normal;">Name</th>
                            <th style="font-weight: normal;">Play Audio</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.Songs)
                        { 
                            <tr>
                                <td class="pb-0 pt-0" style="margin-bottom: -2px; border: 0px;">
                                    <div class="audioTrack">
                                        <audio source src="@Url.Content(@item.FilePath)" preload="auto" style="width: 300px;"></audio>
                                        <p class="ml-3 mb-0 pb-2">@item.Name - @ViewBag.Band.BandName</p>
                                    </div>
                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                </div>
                
                <div class="panel align-bottom">
                    @using (Html.BeginForm("UploadAudio", "AudioFiles", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="form-group">
                            <div class="custom-file panel-text">
                                @Html.LabelFor(a => a.File, "Select track to upload:", htmlAttributes: new { @class = "control-label w-100 pl-3" })
                            </div>
                            <div class="col-md-2">
                                @Html.TextBoxFor(a => a.File, "Select Track", new { type = "file" })
                            </div>
                            <div class="form-group pl-3 pr-3">
                                @Html.LabelFor(a => a.Name, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(a => a.Name, new { htmlAttributes = new { @class = "form-control  w-100" } })
                                    @Html.ValidationMessageFor(a => a.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="input-group-append pl-3">
                                <input type="submit" id="btnUpload" class="btn btn-crimson shadow" value="Upload" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <script>
        function scrollToBottom(id) {
            $('#' + id).scrollTop($('#' + id)[0].scrollHeight);
        }
        scrollToBottom("chat_window");

        $(".openModalHidden")
            .on("mouseenter", function () {
                $("openModaHidden").show();
            })
            .on("mouseleave", function () {
                $("button").hide();
            });

        var modal = document.getElementById('modalSelect');
        var btn = document.getElementById("openModal");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function () {
            modal.style.display = "block";
        }
        span.onclick = function () {
            modal.style.display = "none";
        }
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

            audiojs.events.ready(function () {
                var as = audiojs.createAll();
            });

    </script>
    <script src="@Url.Content("~/Scripts/mediaelement/mediaelement-and-player.min.js")"></script>
</body>
</html>

